<div>
  {% if extra_fields.bigTitle is not empty %}
    <h2>{{ extra_fields.bigTitle }}</h2>
  {% endif %}
  {% if extra_fields.intro is not empty %}
    <p>{{ extra_fields.intro }}</p>
  {% endif %}
  <div>
    {% for item in content %}
      <div>
        {% if item.pictoImg.0 is defined %}
          {% set image_uri = (item.pictoImg.0 is defined) ? get_image(item.pictoImg.0) : '' %}
          {% set fluid_image = file_url(image_uri) %}
          {% set image_alt = (item.pictoImg_alt is not empty) ? item.pictoImg_alt : '' %}
          <img src="{{ fluid_image }}" alt="{{ image_alt }}">
        {% endif %}
        {% if item.title is not empty %}
          <h3>{{ item.title }}</h3>
        {% endif %}
        {% if item.description is not empty %}
          <div>
            {{ item.description.value|raw }}
          </div>
        {% endif %}
        {% if item.link.title is not empty and item.link.url is not empty %}
          <a href="{{ item.link.url }}">{{ item.link.title }}</a>
        {% endif %}
      </div>

    {% endfor %}
  </div>
</div>
